<header class="vector-header mw-header no-font-mode-scale">
	<div class="vector-header-start">
		<nav class="vector-main-menu-landmark" aria-label="{{msg-vector-site-nav-label}}">
			{{>MainMenuDropdown}}
		</nav>
		{{#data-logos}}{{>Logo}}{{/data-logos}}
	</div>
	<div class="vector-header-end">
		{{#data-search-box}}{{>SearchBox}}{{/data-search-box}}
		{{#data-vector-user-links}}<a id="donate-button" href="https://wikimedica.s1.yapla.com/fr/campaign-3445" target="_blank" style="white-space: nowrap; display:block; zoom: 75%; margin: 0 16px;"><span class="mw-ui-button mw-ui-destructive" role="button">Faire un don</span></a>{{>UserLinks}}{{/data-vector-user-links}}
	</div>
</header>
